<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.clouddoctor.dao.CommentMapper">
    <insert id="addComment" parameterType="comment">
        insert into cloud_doctor.comment(doctor_id,doctor_name,username, icon, content, star, create_time)
        values (#{doctorId},#{doctorName},#{username},#{icon},#{content},#{star},#{createTime})
    </insert>

    <select id="queryCommentByDoctorId" parameterType="int" resultType="comment">
        select * from cloud_doctor.comment where doctor_id=#{doctorId} order by create_time desc
    </select>

    <delete id="deleteCommentById" parameterType="int">
        delete from cloud_doctor.comment where comment_id=#{commentId}
    </delete>

    <select id="queryCommentByAdmin" resultType="comment">
        select * from cloud_doctor.comment order by create_time desc
    </select>

    <select id="queryCommentByKey" parameterType="String" resultType="comment">
        select * from cloud_doctor.comment  where concat(username,doctor_name) like "%"#{key}"%"
        order by create_time desc
    </select>
</mapper>