<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.clouddoctor.dao.DepartmentsMapper">
    <select id="selectByDepartment" resultType="String">
        select distinct department from cloud_doctor.departments where tag=0
    </select>

    <select id="selectByDepartmentSmall" parameterType="String" resultType="String">
      select department_small from cloud_doctor.departments where tag=0 and department=#{depatments} limit 0,3
    </select>

    <select id="queryByDepartmentSmall" parameterType="String" resultType="String">
        select department_small from cloud_doctor.departments where tag=0 and department=#{depatments}
    </select>

    <select id="selectDepartmentByName" parameterType="String" resultType="departments">
        select department,department_small from cloud_doctor.departments where  department_small like "%"#{key}"%" and tag=0
    </select>
    
    <select id="selectDepartmentByAdmin" resultType="departments">
        select * from cloud_doctor.departments order  by create_time desc
    </select>

    <delete id="deleteDepartmentById" parameterType="int">
        delete from cloud_doctor.departments where department_id=#{departmentId}
    </delete>

    <insert id="AddDepartment" parameterType="departments">
        insert into cloud_doctor.departments(department, department_small, create_time, create_name, tag)
        values (#{department},#{departmentSmall},#{createTime},#{createName},#{tag})
    </insert>

    <update id="updateDepartment" parameterType="departments">
        update cloud_doctor.departments set department=#{department},department_small=#{departmentSmall},tag=#{tag}
        where department_id=#{departmentId}
    </update>

    <select id="searchByAdmin" parameterType="String" resultType="departments">
        select * from cloud_doctor.departments where concat(department,department_small) like "%"#{key}"%"
    </select>
</mapper>