<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.clouddoctor.dao.IllnessMapper">

    <select id="selectIllnessById" parameterType="int" resultType="illness">
        select * from cloud_doctor.illness where illness_id=#{illnessId} and tag=0
    </select>

    <select id="selectAllIllness" resultType="illness">
        select illness_id,illness,img from cloud_doctor.illness where tag=0
    </select>

    <select id="selectIllnessByName" parameterType="String" resultType="illness">
        select illness_id,illness,summarize from cloud_doctor.illness where illness like "%"#{key}"%" and tag=0
    </select>

    <insert id="addIllness" parameterType="illness">
        insert into cloud_doctor.illness(illness, img, summarize, cause_disease, symptoms, illness_check, treatment, complications, prevention, diet, create_time, create_name, tag)
        values (#{illness},#{img},#{summarize},#{causeDisease},#{symptoms},#{illnessCheck},#{treatment},#{complications},#{prevention},#{diet},#{createTime},#{createName},#{tag})
    </insert>

    <update id="updateIllnessById" parameterType="illness">
        update cloud_doctor.illness
         set illness=#{illness},img=#{img},summarize=#{summarize},cause_disease=#{causeDisease},symptoms=#{symptoms},
         illness_check=#{illnessCheck},treatment=#{treatment},complications=#{complications},prevention=#{prevention},
         diet=#{diet},tag=#{tag}
         where illness_id=#{illnessId}
    </update>

    <delete id="deleteIllnessById" parameterType="int">
        delete from cloud_doctor.illness where illness_id=#{illnessId}
    </delete>

    <select id="queryIllnessByAdmin" parameterType="String" resultType="illness">
        select * from cloud_doctor.illness where illness like "%"#{key}"%" order by create_time desc
    </select>
</mapper>